.icon
{
    width: 3rem;
    height: 3rem;
    margin-right: 5px;
    border-radius: 50%;
}

.card-container {  /* This is the container holding all the cards */
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-auto-flow: column;
    padding: 10rem;
}



.card {
    flex: 1 0 300px; /* Each card takes at least 300px, but can grow */
    /* Existing card styles */
}