html, body {
    overflow-x: hidden;
}

* {
    /* outline: 1px dashed red; */
    box-sizing: content-box;
}

#playground {
    width: 300px;
    height: 600px;
    border: 4px solid black;
}

.empty {
    display: inline-block;
    width: 10%;
    height: 5%;
    vertical-align: top;
}

.full {
    display: inline-block;
    width: 10%;
    height: 5%;
    background: white;
    vertical-align: top;
}

.block {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
}

.invisible {
    display: none;
}

#game-over-message {
    background-color: rgba(250, 250, 250, 0.384);
    z-index: 1000;
    padding-top: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#info-container {
    padding-top: 30%;
}

#next-shape-box {
    position: absolute;
    top: 0;
    left: 0;
}
/* Media query for smaller screens, typically mobile devices */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
    #content-box {
        padding: 1rem; /* Reduce padding */
    }

    .col-4 {
        padding: 0; /* Remove padding from columns */
    }

    #info-container {
        padding-top: 1rem; /* Reduce top padding */
        margin-top: 1rem; /* Add top margin */
    }


    #next-shape-box {
        position: relative; /* Change positioning to avoid overlap */
        margin-bottom: 1rem; /* Add bottom margin */
    }

    #playground {
        margin: 0 auto; /* Center the playground */
    }

    #start-btn, #reset-btn {
        font-size: 1rem; /* Reduce button font size */
        padding: 0.5rem 1rem; /* Reduce button padding */
        margin-bottom: 0.5rem;
    }

    #info-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Horizontally center the elements*/
    }


}